

.contenedor{ 
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  
  }
.cajaroja{background: red;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cajaazul{background: blue;
 height: 200px;
 width: 200px;
 display: flex;
  justify-content: center;
  align-items: center;
 
 }

.cajaverde{background: green;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
 }