


@contenedor {min-width: 700px;}

h1{text-align: center;
    animation-name: nombre;
    animation-duration: 2s;
    animation-fill-mode: forwards;}

    @keyframes nombre { 
        from{font: 1%;
        margin-right:100% ;}
    50%{ font-size: 200%;}
    to{ font-size: 400%;
        margin-right: 0%;
        width: 100%;}
        
    }

.foto{  
       transition: all 1s ease;
             width: 100%;
            height: 100%;
             background: white;
            
             
             margin-left: 500px;
             
            }
             
        
.foto:hover
            { /*box-shadow: inset 0 0 0 25px blue;*/
                /*background: turquoise;*/
                transform: scale(1.3);
            }